.swagger-table {
	color: #3b4151;
	font-family: sans-serif;
	font-size: 14px;
	text-align: left;
	width: 100%;
	margin: 3rem 1rem 1rem;
	th,
	td {
		font-family: "Museo Sans Cyrl 300", sans-serif;
	}
	td {
		padding: 10px 0;
	}
	th {
		font-weight: 700;
	}
	code {
		background: rgba(0, 0, 0, 0.05);
		border-radius: 4px;
		color: #9012fe;
		font-family: monospace;
		font-size: 14px;
		font-weight: 600;
		padding: 5px 7px;
	}
	tbody {
		tr td:first-child {
			padding-left: 30px;
		}
	}
}
